@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $menu:(
        "active-color": #39bf3e,
    ),
    $input:("focus-border":#39bf3e)
);
@import "element-plus/theme-chalk/src/index.scss";
$text-hover: #39bf3e;